:root{
    --bgColor : rgb(0, 0, 0);
    --bgColorLight : rgb(0, 0, 0);
    --textColor : hsla(242, 86%, 88%, 1);
    --textColorDark : hsla(242, 36%, 0%, 1);
    --paperColor: rgb(184, 184, 184);
    --paperColorDark: rgb(139, 139, 139);
    --shadowColorFaint: hsla(0, 0%, 0%, 0.2);
  }
  
  ::selected{
    color: var(--textColorDark);
  }
  
  html, body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background: var(--bgColor);
    background: linear-gradient(135deg, var(--bgColor), var(--bgColorLight));
    color: var(--textColor);
    font-family: 'Saira', sans-serif;
    position: relative;
  }
  
  #canvasColor {
      background-color: aquamarine;
  }
      